.background{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url(../Images/smiling_woman-removebg-preview.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}